VITE_SUPABASE_URL=https://ltgnyjmzuluzxutdwrwa.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_***
VITE_SUPABASE_PROJECT_ID=ltgnyjmzuluzxutdwrwa
VITE_AUTH_REDIRECT_URL=https://lucenadelivery-five.vercel.app
