NEXT_PUBLIC_SUPABASE_URL=https://ltgnyjmzuluzxutdwrwa.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_gq3a-pqdqb_Rp2SwdcoUPg_7vqTzNRn
VITE_SUPABASE_PROJECT_ID="<ltgnyjmzuluzxutdwrwa>"
